@model WebApplication2.Models.DepartmentVM;

@{
    ViewBag.Title = "delete";

}

<h2 class="text-center font-bold">Are you sure  you want to delete following Department?</h2>
<br />
<br />
<form asp-controller="Department" asp-action="delete" method="post" class="form-group">
    <label>DepartmentName</label>
    <input type="text" asp-for="DepartmentName" disabled class="form-control" />
    <br />
    <label>DepartmentCode</label>
    <input type="text" asp-for="DepartmentCode" disabled class="form-control" />
    <div class="row text-center">
        <input type="submit" value="Delete" class="btn btn-danger " />
        <input asp-controller="Department" asp-action="Index" type="submit" value="Return" class="btn btn-success " />

    </div>
</form>